.modal-scan {
    border-radius: 30px;
    padding: 10px;
}

.manual-scan .title {
    font-size: 23px;
    font-weight: 600;
}

.modal-scan .input-code {
    border-radius: 100px;
    border-color: #004D8B;
    height: 45px;
    padding-left: 45px !important;
}

.modal-scan .input-code::placeholder {
    font-size: 14px;
}

.modal-scan .form-label {
    color: #003D79;
}

.modal-scan .btn-detail {
    margin-top: 7px;
    padding: 12px 0;
}

.modal-scan .border-center {
    width: 100%;
    height: 13px;
    border-bottom: 1px solid #b5b5b5;
    text-align: center;
    color: #bbbaba;
}

.modal-scan .form-control {
    padding: 10px 20px;
}

.modal-scan .border-center span {
    background-color: white;
    padding: 0 10px;
}

.modal-scan .code-addon{
    position: absolute;
    padding: 12px;
    color: #8a8888;
}