#scanner-container {
    position: relative;
    /* border: 5px solid #000; */
}
 
.drawingBuffer {
    position: absolute;
    left: 18%;
    top: 18%;
    width: 65%;
    height: 65%;
}

.background-line-scan {
    position: absolute;
    left: 18%;
    top: 18%;
    width: 65%;
    height: 65%;
}

.line-scan {
    background: red;
    height: 1.5px;
    border-radius: 50%;
}
.backgroundScan {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
video {
    width: 100%;
    height: auto;
    border-radius: 15px;    
}

.camera-scan .btn-play {
    font-weight: 600;
}