.forgot-password-page {
    margin-top: 250px;
}

.forgot-password-page .card {
    border-radius: 10px;
    border: none;
}
.forgot-password-page .card-body {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.forgot-password-page .header {
    margin-bottom: 50px;
    margin-top: 15px;
}

.forgot-password-page .title {
    font-size: 21px;
    font-weight: 600;
}

.forgot-password-page .sub-title {
    font-size: 13px;
    color: rgb(129, 129, 129);
}
