.profile {
    margin-top: 150px;
}

.profile .card {
    border: none;
}

.profile .card-body {
    border-radius: 15px;
    box-shadow: -4px -4px 4px rgba(0, 0, 0, 0.05), 4px 4px 4px rgba(0, 0, 0, 0.05);
}

@media (max-width:768px) {
    .profile {
        margin-top: 100px;
    }
}