.shop-header .title {
    font-size: 31px;
    font-weight: 600;
}

.shop-header .search-addon {
    position: absolute;
    padding: 11px 25px;
    color: #8f8f8f;
    outline: none;
}

.shop-header .search-input {
    border-radius: 100px;
    padding: 12px 0px 12px 70px;
    background: #f1f1f1;
    border: none;
}

@media (max-width:768px) {
    .shop-header .title {
        font-size: 21px;
    }
}